/bootstrap/compiled.php
/vendor
composer.phar
.DS_Store
.idea/
app/_ide_helpers.php
/data
/import.sh
/app/storage/uploads/
/.sass-cache/
/permissions.sh
/perms.sh
/nbproject/private/
app/assets/sass/.sass-cache/
public/sitemap
*.pyc
/app/nbproject/private/
npm-debug.log
/nbproject
.env
.env.develop.php
.env.testing.php
.env.php
.htaccess
/node_modules